
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>南理MSC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="MSC, 南理工, 南理MSC, njust MSC, 微软学生俱乐部, 南理微软学生俱乐部" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- //font-awesome icons -->
    <!-- portfolio -->
    <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="all">
    <!-- //portfolio -->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>

</head>

<body>
<!-- banner -->
<div class="banner jarallax">
    <div class="header-top">
        <div class="header-top-info">
            <nav class="navbar navbar-default">
                <nav class="navbar-fixed-top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="agileits-logo">
                            <h1><a href="mainpage.html">NJUST <span>MSC</span></a></h1>
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav">
                                <!-- <li><a href="#home"class="scroll">Home</a></li> -->
                                <li><a href="#about" class="scroll">MSC简介</a></li>
                                <li><a href="#services" class="scroll">近期活动</a></li>
                                <li><a href="#gallery" class="scroll">活动展示</a></li>
                                <li><a href="#team" class="scroll">会员介绍</a></li>
                                <li><a href="#enroll" class="scroll">报名地址</a></li>
                                <!-- <li><a href="#mail" class="scroll">登录</a></li> -->
                            </ul>
                        </nav>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </nav>
        </div>

    </div>
    <div class="w3layouts-banner-info">
        <div class="new_container">
            <div class="rslides callbacks" id="slider4">
                <img src="images/3_0.png" alt="" />
            </div>
            <div class="clearfix"> </div>
            <script src="js/responsiveslides.min.js"></script>
            <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
            </script>
            <!--banner Slider starts Here-->
        </div>
    </div>

</div>
<!-- //banner -->

<!-- MSC简介 -->
<div class="welcome" id="about">
    <div class="container">
        <div class="agileits-heading">
            <h2>MSC简介</h2>
        </div>
        <div class="agileinfo-about-info">
            <h4>"微软学生俱乐部"（Microsoft Student Club, 简称 MSC）是微软亚洲研究院 与高校合作培养人才的一种探索</h4>
            <p>自 2000 年 10 月 15 日第一个俱乐部在四川大学成立，至今全国已有34所高校拥有了自己的 MSC</p>
            <p>俱乐部本着"学习先进技术，开拓创新思维，体验多元文化，成就一流人才"的宗旨，在各高校校团委、相关学院的指导下，通过学生项目、线上微课、产品体验、技术沙龙、学生大赛等活动，培养会员的创新头脑、实践能力和组织能力，让来自不同领域的会员得以展现才华，共同成长。</p>
            <p>目前我们俱乐部有讲座类活动“技术沙龙”，实践类活动“兴趣小组”，两个比赛分别为“南京站~骇客马拉松”和每年上半年由微软亚洲研究院举办的“编程之美”</p>
            <p>欢迎爱好编程或者热爱生活，吸猫（雾）的小伙伴加入我们，愿南理MSC能陪你一起成长</p>
            <h5>南理MSC 将会在每年10月左右进行招新</h5>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 welcome-grids">
            <div class="view">
                <img src="images/4.jpg" alt="" class="img-responsive" />
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 welcome-grids">
            <div class="view">
                <img src="images/5.jpg" alt="" class="img-responsive" />
            </div>
        </div>
        <div class="clearfix"> </div>

    </div>
</div>
<!-- //MSC简介 -->

<!-- 近期活动 -->
<div class="services" id="services">
    <div class="container">
        <div class="agileits-heading">
            <h3>近期活动</h3>
        </div>
        <div class="events-info">
            <div class="col-md-6 event-grids">
                <div class="w3layouts-text">
                    <h4>15<span>OCT</span></h4>
                    <h6><a href="#" data-toggle="modal" data-target="#myModal">MSC一年一度的大型招新活动</a></h6>
                    <div class="clearfix"> </div>
                </div>
                <p>俱乐部将在10月中旬左右进行招新，总共有四个部门：技术部，美工部，新媒体策划部，活动部</p>
                <p>感兴趣的小伙伴可以询问我们的bot（聊天机器人）人ARYA，她可以解决一些你对俱乐部招新的疑惑呦！</p>
            </div>
            <div class="col-md-6 event-grids">
                <div class="w3layouts-text">
                    <h4>20<span>Dec</span></h4>
                    <h6><a href="#" data-toggle="modal" data-target="#myModal">南京站 HACKATHON</a></h6>
                    <div class="clearfix"> </div>
                </div>
                <p>这是一场南京四校的创意大赛</p>
                <p>被繁重学业困扰的你 是不是好久都没有亲自动手编程完成一个想做的项目 hackathon给你提供了一个实现自己idea的机会</p>
                <p>南京大学-东南大学-南京航天航空大学-南京理工大学 四校联办</p>
                <p>活动正在筹备~敬请期待</p>
            </div>

        </div>
    </div>
</div>
<!-- //近期活动 -->

<!-- 活动展示 -->
<div class="portfolio" id="gallery">
    <div class="container">
        <div class="agileits-heading">
            <h3>活动展示</h3>
        </div>
        <ul class="simplefilter w3layouts agileits">
            <li class="active w3layouts agileits" data-filter="all">All</li>
            <li class="w3layouts agileits" data-filter="1">招新活动</li>
            <li class="w3layouts agileits" data-filter="2">见面大会</li>
            <li class="w3layouts agileits" data-filter="3">技术沙龙</li>
        </ul>

        <div class="filtr-container w3layouts agileits">

            <div class="filtr-item w3layouts agileits" data-category="1" data-sort="Busy streets">
                <a href="images/p1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="1" data-sort="Luminous night">
                <a href="images/p2.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p2.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="2" data-sort="City wonders">
                <a href="images/p3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="3" data-sort="In production">
                <a href="images/p4.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p4.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="3" data-sort="Industrial site">
                <a href="images/p5.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p5.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="2 , 3" data-sort="Peaceful lake">
                <a href="images/p6.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p6.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="1" data-sort="City lights">
                <a href="images/p7.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p7.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="1" data-sort="Dreamhouse">
                <a href="images/p8.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="images/p8.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    </figure>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //活动展示 -->

<!-- 会员介绍 -->
<div class="jarallax team" id="team">
    <div class="team-dot">
        <div class="container">
            <div class="agileits-heading team-heading">
                <h3>会员介绍</h3>
            </div>
            <div class="agileits-team-grids">
                <div class="col-md-3 agileits-team-grid">
                    <div class="team-info">
                        <img src="images/t1.jpg" alt="">
                        <div class="team-caption">
                            <h4>两个人</h4>
                            <p>两个人类</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 agileits-team-grid">
                    <div class="team-info">
                        <img src="images/t2.jpg" alt="">
                        <div class="team-caption">
                            <h4>徐锐韬</h4>
                            <p>副主席</p>
                        </div>
                    </div>
                </div>

                <!-- 3 -->
                <div class="col-md-3 agileits-team-grid">
                    <div class="team-info">
                        <img src="images/t3.jpg" alt="">
                        <div class="team-caption">
                            <h4>许端琛</h4>
                            <p>单身</p>
                        </div>
                    </div>
                </div>


                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>
<!-- //会员介绍 -->

<!-- 报名 -->
<div class="contact-info jarallax" id="enroll">
    <div class="contact-info-grids">
        <div class="container">
            <div class="agileits-heading team-heading">
                <h3>加入我们吧！</h3>
            </div>
            <div class="contact-form">
                <form th:action="@{/signup}" th:object="${signup}" method="post">
                    <input type="text" th:field="*{name}" placeholder="姓名" required="">
                    <input type="text" th:field="*{telephone}" placeholder="电话" required="">
                    <input type="email" th:field="*{email}" placeholder="邮箱" required="">
                    <input type="text" th:field="*{department}" placeholder="意向部门" required="">
                    <input type="text" th:field="*{hobby}" placeholder="爱好" required="">
                    <input type="text" th:field="*{reason}" placeholder="参加俱乐部原因" required="">
                    <textarea th:field="*{experience}" placeholder="自己的相关经历描述，填写以上报名信息后将不用在正式开始招新后重复填写表格" required=""></textarea>
                    <input type="submit" value="SUBMIT">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- //报名 -->

<!-- footer -->
<footer>
    <div class="container">
        <div class="copyright">
            <p>© 2017 NJUST MSC. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
</footer>
<!-- //footer -->
<script src="js/jarallax.js"></script>
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<script src="js/responsiveslides.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- Tabs-JavaScript -->
<script src="js/jquery.filterizr.js"></script>
<script src="js/controls.js"></script>
<script type="text/javascript">
    $(function () {
        $('.filtr-container').filterizr();
    });
</script>
<!-- //Tabs-JavaScript -->
<!-- PopUp-Box-JavaScript -->
<script src="js/jquery.chocolat.js"></script>
<script type="text/javascript">
    $(function () {
        $('.filtr-item a').Chocolat();
    });
</script>
<!-- //PopUp-Box-JavaScript -->
</body>

</html>